
*{
    background-color: black;
    color:white;
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav a:hover{
    font-weight: bold;
    font-size: 1.75em;
}

ul{
    list-style-type: none;
}

ul li a {
    text-decoration: none;
}

